



@media screen and (max-width: 1308px) {
body {
            margin: 0;
           
        }

        .hero {
           
        }

        .navbar {
            display: none;
        }

          .hero::before {
  
display: none; 
}


        .menu-container {
            position: fixed;
            bottom: 5%;
            left: 5%;
            width: 80px;
            height: 80px;
            background-color: #ffffff60;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: all 0.5s ease;
            overflow: hidden;
            z-index: 99999;
        }

        .menu-container.active {
            width: 230px;
            height: 230px;
        }

        .menu-button {
            position: relative;
            width: 60px;
            height: 60px;
            background-color: #1e9e3d;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            z-index: 10;
            flex-direction: column;
            transition: opacity 0.5s ease;
            font-size: clamp(0.8rem, 4vw, 1.5rem);
        }

        .menu-button img {
            width: 20px;
            height: 20px;
        }

        .menu-button span {
            margin-top: 5px;
            font-size: clamp(0.8rem, 4vw, 1.5rem);
            color: #ffffff;
            font-weight: bolder;
        }

        .menu-container.active .menu-button {
            opacity: 0;
        }

        .menu-items {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            pointer-events: none;
            opacity: 0;
            transition: opacity 0.5s ease, transform 0.5s ease;
        }

        .menu-container.active .menu-items {
            opacity: 1;
            pointer-events: auto;
        }

        .menu-items a {
            position: absolute;
            text-decoration: none;
            color: #000000;
            font-weight: bold;
            text-align: center;
            background-color: #ff1f1f;
            border-radius: 50%;
            width: 60px;
            font-size: 1.5rem;
            height: 60px;
            padding: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transform: scale(0);
            transition: transform 0.5s ease;
        }

        .menu-items a.active {
            border: 3px solid #ffc400; /* Green circle indicator */
        }

        .menu-items a span {
            margin-top: 5px;
            font-size: 0.8rem;
            color: #000;
        }

        .menu-container.active .menu-items a:nth-child(1) {
            transform: translate(0, -75px) scale(1);
        }

        .menu-container.active .menu-items a:nth-child(2) {
            transform: translate(75px, 0) scale(1);
        }

        .menu-container.active .menu-items a:nth-child(3) {
            transform: translate(0, 75px) scale(1);
        }

        .menu-container.active .menu-items a:nth-child(4) {
            transform: translate(-75px, 0) scale(1);
        }

        .home-text {
            position: absolute;
            background-color: rgb(255, 255, 255);
            border-radius: 50%;
            width: 65px;
            height: 65px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000;
            padding: 5px;
            font-size: clamp(0.8rem, 4vw, 1.5rem);
            font-weight: bolder;
            opacity: 0;
            transition: opacity 0.5s ease;
        }

        .menu-container.active .home-text {
            opacity: 1;
        }


        #stat-card1 {
            display: none;
        }

         .hero-container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 0.5rem;
       
    }
    
}